<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.bimbam">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="Эллай"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Bimbam"
            tools:targetApi="31">
        <activity
                android:name=".MainActivity_game_together"
                android:exported="false"/>
        <activity
                android:name=".MainActivity_you_acc_edit"
                android:exported="false"/>
        <activity
                android:name=".MainActivity_recommendations"
                android:exported="false"/>
        <activity
                android:name=".MainActivity_registrationChild"
                android:exported="false"
                tools:ignore="MissingClass"/>
        <activity
                android:name=".MainActivity_about"
                android:exported="false"/>
        <activity
                android:name=".MainActivity_you_acc"
                android:exported="false"/>
        <activity
                android:name=".MainActivity_homePage"
                android:exported="false"/>
        <activity
                android:name=".MainActivity_settings"
                android:exported="false"/>
        <activity
                android:name=".MainActivity_confirmation"
                android:exported="false"/>
        <activity
                android:name=".MainActivity_registrationAcc"
                android:exported="false"/>
        <activity
                android:name=".MainActivity_Login"
                android:exported="false"/>
        <activity
                android:name=".SplashActivityy"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".SplashActivity1"
                android:exported="true">
        </activity>
        <activity
                android:name=".MainActivity_privetctvie"
                android:exported="true">
        </activity>
        <activity
                android:name=".MainActivity_startmenu"
                android:exported="true">
        </activity>
    </application>

</manifest>